/* *{
    outline: red dashed 1px;
} */
body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: 
    url("https://images.unsplash.com/photo-1617777854432-2c66c79f970a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGFtaWx8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60") no-repeat center;
    background-size: 100%;
    overflow: hidden;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
    text-align: center;
    background: rosybrown;
    opacity:.8;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);  


}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background-color: rosybrown;
    opacity:.8;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);  
}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: palevioletred;
}
.clock #ampm{
    bottom:0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: plum;
}